html, body, div {
    margin: 0;
    padding: 0;
}

.testbouton {
    text-align: center;
    width: 150px;
    height: 50px;
    font-size: 2em;
    display: block;
    margin: 0 auto;
}

#choix {
    text-align: center;
    width: 75px;
    height: 30px;
    font-size: 1em;
    margin: 0;
}

div {
    position: relative;
    height: 500px;
    width: 100%;
    transition: left 1.5s, right 1.5s, opacity 1s;
    text-align: center;
}

div h1 {
    margin-top: 25%;
}

div.from-left {
    position: absolute;
    left: -100%;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

#postit {
    width: 200px;
    height: 75px;
    background-color: rgba(255, 255, 0, 0.774);
    position: absolute;
    top: 735px;
    left: 125px;
    visibility: hidden;
}

div#graph_chrono {
    border: 1px solid black;
    height: 110px;
    width: 180px;
    display: block;
    position: relative;
    margin: 0 auto;
    padding-top: 20px;
}

div#graph_chrono p {
    position: absolute;
    top: -27px;
    left: 52px;
    background-color: white;
}

#pause, #stop {display: none;}