body,html {
    padding: 0;
    margin: 0;
}

body {
    background: url("../../Data/background/wall_background.png");
    background-size: cover;
    background-attachment: fixed;
}

.bodydark {
    background: url("../../Data/background/wall_background_darkmode.png");
    background-size: cover;
    background-attachment: fixed;
}

header {
    margin-top: -10px;
    height: 50px;
}

.dark {
    background-color: rgb(14, 14, 14) !important;
    color: blanchedalmond !important;
}

#btndisconnect, #toggledark {
    border-radius: 0;
}

.addpostcontainer {
    height: 150px;
}

.status_bar {
    height: 30px;
}

.addcom {
    height: 30px;
}

.bricked {
    border: 2px solid !important;
    border-color: rgb(202, 89, 24) !important;
    border-radius: 5px !important;
    color: brown !important;
    font-weight: 700;
}

.btn-warning {
    color: black;
    background-color: brown;
    border-color: brown;
}