body,html {
    padding: 0;
    margin: 0;
}

body {
    background: url("../../Data/background/wall_background.png");
    background-size: cover;
    background-attachment: fixed;
}

.bodydark {
    background: url("../../Data/background/wall_background_darkmode.png");
    background-size: cover;
    background-attachment: fixed;
}

header {
    margin-top: -10px;
    height: 50px;
}

.dark {
    background-color: rgb(14, 14, 14) !important;
    color: white !important;
    border-color: rgb(10, 10, 10) !important;
}

.bg-brick {
    background-color: #b34c2c;
}

#btndisconnect, #toggledark {
    border-radius: 0;
}

.addpostcontainer {
    height: 150px;
}

.status_bar {
    height: 30px;
}

.addcom {
    height: 30px;
}

.bricked {
    border: 2px solid !important;
    border-color: #b34c2c !important;
    border-radius: 5px !important;
    color: brown !important;
    font-weight: 700;
}

.btn-warning {
    color: black;
    background-color: brown;
    border-color: brown;
}

#list_user {
    width: 23%;
    margin: 0 1%;
    height: 75px;
}

.user_profile {
    height: 65px;
    width: 65px;
    border: 1px solid rgb(10, 10, 10);
    border-radius: 5px;
}

.com_user_photo {
    height: 30px;
    width: 30px;
    border: 1px solid rgb(15, 15, 15);
    border-radius: 5px;
}

#user_profile {
    width: 23%;
    height: 375px;
    border: 1px solid black;
    border-radius: 5px;
}

#profile-photo {
    width: 225px;
    height: 250px;
    display: block;
    margin: 10px auto;
}

#changeProfilePic, #changePicBtn {
    margin: 0 auto;
}

#home {
    color: black;
    font-weight: bold;
    text-decoration: none;
}