html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

}
header {
    background-color: rgb(148, 113, 92);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
ul {
    list-style-type: none;
}

.row {
    margin: 0;
}

.container {
    padding: 0;
    margin: 0;
}

.container-md {
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

@media screen and (max-width: 575px) {
    header {
        height: 55px;
    }

    #navbar-left {
        height: 100%;
        width: 12%;
        float: left;
    }

    #navbar-left img {
        display: block;
        width: 45px;
        height: 45px;
        margin: 5px auto;
    }
    header a:focus + .navbar {
        width: 250px;
        border-right: 2px solid black;
    }
    #navabar-left div {
        background-color: white;
        position: absolute;
        width: 50%;
        height: 100%;
    }

    div.navbar {
        position: absolute;
        width: 0px;
        height: 1000px;
        top: 55px;
        padding: 0;
        z-index: 10;
        transition: width 0.5s;
        background-color: rgb(40, 40, 40);
    }

    .navbar ul {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .navbar ul li {
        font-size: 1.5rem; 
        line-height: 3rem;
        width: 100%;
        z-index: 99;
    }

    div.navbar ul li:hover {
        background-color: white;
    }

    #img-block img {
        display: block;
        height: 220px;
        width: 175px;
        margin: 0 auto;
    }

    #img-block {
        display: block;
        height: 220px;
        width: 175px;
        margin: 0 auto;
    }

    body {
        margin-top: 60px;
    }
    div .col-xs-12 {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    h3 {
        text-align: center;
    }

    .parkour div.title-photo {
        position: relative;
        background-color: rgba(165, 42, 42, 0.859);
        height: 350px;
        transition: height 0.75s, padding-top 0.78s;
        display: block;
        padding-top: 150px;
    }

    .experience div.title-photo {
        position: relative;
        background-color: rgba(0, 128, 0, 0.852);
        height: 350px;
        transition: height 0.75s, padding-top 0.78s;
        display: block;
        padding-top: 150px;
    }

    .skills div.title-photo {
        position: relative;
        background-color: rgba(255, 255, 0, 0.852);
        height: 350px;
        transition: height 0.75s, padding-top 0.78s;
        display: block;
        padding-top: 150px;
    }

    div .title-photo::before {
        content: "";
        background: url("https://picsum.photos/401/400"); 
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.15;
    }

    div a#block_1:focus .title-photo, 
    div a#block_2:focus .title-photo,
    div a#block_3:focus .title-photo {
        height: 65px;
        padding-top: 15px;
    }

    div a#block_1:focus + div#parcours, 
    div a#block_2:focus + div#experience, 
    div a#block_3:focus + div#skills { 
        height: 350px;
        opacity: 100;
    }

    #parcours, #experience, #skills {
        position: relative;
        overflow: hidden;
        height: 0;
        opacity: 0;
        transition: height 0.75s, opacity 1s;
    }

    #parcours {
        background-color: rgba(165, 42, 42, 0.503);
    }

    #experience {
        background-color: rgba(0, 128, 0, 0.496);
    }

    #skills {
        background-color: rgba(255, 255, 0, 0.53);
    }
    
    #parcours::before {
        content: "";
        background: url("https://picsum.photos/401/401"); 
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;    
        left: 0px;
        opacity: 0.15
    }

    #experience::before {
        content: "";
        background: url("https://picsum.photos/400/401"); 
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.15;
    }

    #skills::before {
        content: "";
        background: url("https://picsum.photos/400/400"); 
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.15;
    }

}

@media screen and (min-width: 576px) and (max-width: 768px) {
    body {
        margin-top: 70px;
    }

    header {
        height: 55px;
        border-bottom: 1px solid black;
    }

    header #navbar-left {
        display: none;
    }
    
    .navbar {
        display: inline;
    }

    #img-block img {
        display: block;
        height: 220px;
        width: 175px;
        margin: 0 auto;
    }

    #img-block {
        display: block;
        height: 220px;
        width: 175px;
        margin: 0 auto;
    }

    .navbar {
        position: relative;
        padding: 0;
    }

    .navbar ul {
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        height: 100%;
        line-height: 50px;
    }


    .navbar a {
        display: block;
        height: 100%;
        width: 150px;
        top: 0; 
    }

    .navbar ul li a {
        transition: background-color 0.5s, color 0.3s;
        text-align: center;
    }

    .navbar ul li:first-child a:hover, .navbar ul li:first-child a:focus {
        border: 1px solid black;
        color: whitesmoke;
        background-color: tomato;
    }

    .navbar ul li:nth-child(2) a:hover, .navbar ul li:nth-child(2) a:focus {
        border: 1px solid black;
        color: whitesmoke;
        background-color: teal;
    }

    .navbar ul li:nth-child(3) a:focus {
        border: 1px solid black;
        color: whitesmoke;
        background-color: violet;
    }
    
    div.col-sm-10 {
        margin: 0 auto;
        padding: 0;
        width: 83.33%;
    }

    .row {
        display: flex;
    }

    h3 {
        text-align: center;
        font-size: 1.2rem;
    }

    div .title-photo::before {
        content: "";
        background: url("https://picsum.photos/401/400"); 
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.20;
        max-width: 100%;
        transition: max-width 1s;
    }

    .parkour {
        position: relative;
        overflow: hidden;
    }
    
    .parkour div.title-photo {
        background-color: rgba(165, 42, 42, 0.859);
        height: 350px;
        display: inline-block;
        padding-top: 150px;
        min-width: 100%;
        max-width: 640px;
        transition: width 1s, min-width 1s;
        z-index: 1;
        border: 1px solid black;
    }

    div#parcours {
        height: 350px;
        position: absolute;
        display: inline-block;
        width: 75.5%;
        white-space: nowrap;
        overflow: hidden;
        transition: width 0.5s;
        padding-top: 3.5%;
        font-size: 0.9rem;
        background-color: rgba(165, 42, 42, 0.503);
    }

    .parkour a#block_1:focus .title-photo {
        min-width: 25.5%;
    }

    .parkour a#block_1:focus .title-photo::before {
        min-width: 25.5%;
        max-width: 25.5%;
    }

    .experience {
        position: relative;
        overflow: hidden;
    }

    .experience div.title-photo {
        background-color: rgba(0, 128, 0, 0.852);
        height: 350px;
        display: inline-block;
        padding-top: 150px;
        min-width: 100%;
        max-width: 640px;
        transition: width 1s, min-width 1s;
        z-index: 1;
        border: 1px solid black;
    }

    div#experience {
        height: 350px;
        position: absolute;
        display: inline-block;
        width: 75.5%;
        white-space: nowrap;
        overflow: hidden;
        transition: width 0.5s;
        padding-top: 3.5%;
        font-size: 0.9rem;
        background-color: rgba(0, 128, 0, 0.496);
    }

    .experience a#block_2:focus .title-photo {
        min-width: 25.5%;
    }

    .experience a#block_2:focus .title-photo::before {
        min-width: 25.5%;
        max-width: 25.5%;
    }

    .skills {
        position: relative;
        overflow: hidden;
    }

    .skills div.title-photo {
        background-color: rgba(255, 255, 0, 0.852);
        height: 350px;
        display: inline-block;
        padding-top: 150px;
        min-width: 100%;
        max-width: 640px;
        transition: width 1s, min-width 1s;
        z-index: 1;
        border: 1px solid black;
    }

    div#skills {
        height: 350px;
        position: absolute;
        display: inline-block;
        width: 75.5%;
        white-space: nowrap;
        overflow: hidden;
        transition: width 0.5s;
        padding-top: 3.5%;
        font-size: 0.9rem;
        background-color: rgba(255, 255, 0, 0.53);
    }

    .skills a#block_3:focus .title-photo {
        min-width: 25.5%;
    }

    .skills a#block_3:focus .title-photo::before {
        min-width: 25.5%;
        max-width: 25.5%;
    }

    .col-sm-8 {
        width: 80%;
    }

    .col-sm-2 {
        width: 20%;
    }
}