@font-face {
    font-family: "mezalia sumatra";
    src: local("./CV/fonts/Mezalia_Sumatra.ttf") format("ttf"); 
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    padding-top: 50px;
}

header {
    background-color: #97694E;
    border-bottom: 1px solid black;
    text-align: right;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.btn-group {
    background-color: rgba(210, 105, 30, 0.564);
}

.btn-experience {
    font-family: "mezalia sumatra" !important;
}

.btn-experience:hover {
    background-color: #0080007b;
    color: blanchedalmond !important;
}

.btn-parkour:hover {
    background-color: #a52a2a80;
    color: blanchedalmond !important;
}

.btn-skills:hover {
    background-color: #ffff007e;
    color: blanchedalmond !important;
}

h1 {
    text-align: center; 
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
}

div .container {
    padding: 0;
    margin-left: 16.50%;
    display: flex;
}

div .parkour  {
    border: 1px solid white;
    position: relative;
    background-color: rgba(165, 42, 42, 0.708);
}

div .parkour::before {
    content: "";
    background: url("https://picsum.photos/400/401"); 
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.15;
}

div .parkour-right {
    border: 1px solid white;
}

div .experience-left {
    border: 1px solid white;
}

div .experience {
    border: 1px solid white;
    position: relative;
    background-color: rgba(0, 128, 0, 0.701);
}

div .experience::before {
    content: "";
    background: url("https://picsum.photos/400/401"); 
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.15;
}

div .skills {
    border: 1px solid white;
    position: relative;
    background-color: rgba(255, 255, 0, 0.708);
}

div .skills::before {
    content: "";
    background: url("https://picsum.photos/400/401"); 
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.20;
}

div .skills-right {
    border: 1px solid white;
    max-height: 600px;
}

@media screen and (min-width: 1024px) {
    div .container.col-l-8 {
        width: 65.75%;
        min-height: 300px;
        max-height: 300px;
        font-size: 0.85rem;
    }

    div .col-l-6 {
        width: 60%;
    }

    div .col-l-4 {
        width: 40%;
    } 
}