html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    padding-top: 50px;
}

header {
    background-color: chocolate;
    border-bottom: 1px solid black;
    text-align: right;
    position: fixed;
    width: 100%;
    top: 0;
}

h1 {
    text-align: center; 
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
}

div .container {
    padding: 0;
    margin-left: 16.50%;
    display: flex;
}

div .parkour  {
    border: 1px solid black;
}

div .parkour-right {
    border: 1px solid black;
}

div .experience-left {
    border: 1px solid black;
}

div .experience {
    border: 1px solid black;
}

div .skills {
    border: 1px solid black;
}

div .skills-right {
    border: 1px solid black;
    max-height: 600px;
}

@media screen and (min-width: 1024px) {
    div .container.col-l-8 {
        width: 66%;
        min-height: 300px;
        max-height: 300px;
        font-size: 0.85rem;
    }

    div .col-l-6 {
        width: 60%;
    }

    div .col-l-4 {
        width: 40%;
    } 
}