body {
    background: url('../../Data/background/login_background.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#loginscreen {
    min-height: 300px;
    max-height: 325px;
    min-width: 350px;
    max-width: 500px;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -20%);
}

#inscriptionscreen {
    max-width: 500px;
    min-height: 300px;
    max-height: 550px;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -10%);
}

.opacity {
    opacity: 0;
}

h1 {
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    font-size: 4.5em;
    padding: 2% 0;
}