body {
    background-color: rgba(165, 108, 42, 0.651);
}

.container {
    background-color: white;
    border-radius: 25px;
    margin: 15% auto;
    padding: 1px 0;
}

.row {
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    margin: 10% 0;
}

.col {
    border: 1px solid white;
    height: 100%;
    max-width: 20%;
    position: relative;
}

img {
    height: 100%;
    max-width: 100%;
}

#viewimg {
    position: fixed;
    top: 50%;
    left: 25%;
}